
.navbar-custom {
  background-color: #ebebeb;
  border-color: #000000;
}
.navbar-custom .navbar-brand {
  color: #000000;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
  color: #4d7808;
}
.navbar-custom .navbar-text {
  color: #000000;
}
.navbar-custom .navbar-nav > li > a {
  color: #000000;
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
  color: #4d7808;
}
.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
  color: #ebebeb;
  background-color: #79be0b;
}
.navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
  color: #ebebeb;
  background-color: #79be0b;
}
.navbar-custom .navbar-toggle {
  border-color: #79be0b;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #79be0b;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #000000;
}
.navbar-custom .navbar-link {
  color: #000000;
}
.navbar-custom .navbar-link:hover {
  color: #4d7808;
}

/*////*/
.navbar-customWeb {
  background-color: #79be0b;
  border-color: #79be0b;
}
.navbar-customWeb .navbar-brand {
  color: white;
}
.navbar-customWeb .navbar-brand:hover, .navbar-customWeb .navbar-brand:focus {
  color: white;
}
.navbar-customWeb .navbar-text {
  color: white;
}
.navbar-customWeb .navbar-nav > li > a {
  color: #000000;
}
.navbar-customWeb .navbar-nav > li > a:hover, .navbar-customWeb .navbar-nav > li > a:focus {
  color: white;/* text hover*/
}
.navbar-customWeb .navbar-nav > .active > a, .navbar-customWeb .navbar-nav > .active > a:hover, .navbar-customWeb .navbar-nav > .active > a:focus {
  color: white;
  background-color: #79be0b;
}
.navbar-customWeb .navbar-nav > .open > a, .navbar-customWeb .navbar-nav > .open > a:hover, .navbar-customWeb .navbar-nav > .open > a:focus {
  color: white;
  background-color: #79be0b;
}
.navbar-customWeb .navbar-toggle {
  border-color: #79be0b;
}
.navbar-customWeb .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #79be0b; 
}
.navbar-customWeb .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-customWeb .navbar-collapse,
.navbar-customWeb .navbar-form {
  border-color: #000000;
}
.navbar-customWeb .navbar-link {
  color: #000000;
}
.navbar-customWeb .navbar-link:hover {
  color: #79be0b;
}


#logonav {
	  margin-top: 1px;
    margin-left:15%;
}

/* Sticky footer styles
-------------------------------------------------- */

body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}


/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

div.message {
    width: 100%; /* Configure it fit in your design  */
    margin-bottom: 2px;
    padding: 13px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-left-color: #2b542c;
    background-color: #dff0d8;
    color: #2b542c;
}

div.message.error {
    border-left-color: #d9534f; /* Left side border color */
    background-color: rgba(217, 83, 79, 0.1); /* Same color as the left border with reduced alpha to 0.1 */
    color:  #d9534f;
}

.no_margin{
  margin:0px !important;
}

#button {
  margin-top: 20px;
  float: right;
  display: inline-block;
  margin-right: -33%;
  
}

#header {
  color:white;
  font-size:55px;
    border-radius: 15px 50px;
    background: #8AC007;
    padding: 20px; 
    width: 800px;
    height: 90  px;  
}
#legend {
  color:#79be0b;
  font-weight:400;
  font-size: 40px;
}

#toggle-private {
  margin-left:40%;
}

#toggle-private1 {
  float:left;
}

#toggle-corporate1 {
  float:left;
  margin-left: 10px;
}
#loginbutton {
  margin-left:45%;
  margin-top:-20px;
}

.map {
      min-width: 300px;
      min-height: 300px;
      width: 100%;
      height: 100%;
}

.header {
      background-color: #F5F5F5;
      color: #79be0b;
      height: 70px;
      font-size: 27px;
      padding: 10px;
}
